.circle {
	width: 130px;
	height: 130px;
	background-color: #f2f2f2;
	border-radius: 100%;
	// overflow: hidden;
  margin: auto;
	color: white;
	text-align: center;
	line-height: 130px;
	font-size: 12px;
}

.color {
	width: 150px;
	background-color: #a1a1a1;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	transition: all 0.5s cubic-bezier(0.3,0,0.3,1);
	cursor: pointer;
	position: relative;
  overflow: hidden;
}


// ===== Primary Colour 1 =====
.primary-color__1 .circle {
	background-color: #0060A8;	
}


// ===== Primary Colour 2 =====
.primary-color__2 .circle {
	background-color: #FFFFFF;	
	color: #434343;
	border: solid 0.7px #979797;
}

// ===== Primary Colour 3 =====
.primary-color__3 .circle {
	background-color: #F69D38;	
}

// ===== Primary Colour 4 =====
.primary-color__4 .circle {
	background-color: #197B30;	
}



// ===== secondary Colour 1 =====
.secondary-color__1 .circle {
	background-color: #007BDA;	
}

// ===== secondary Colour 2 =====
.secondary-color__2 .circle {
	background-color: #E0393E;	
}

// ===== secondary Colour 3 =====
.secondary-color__3 .circle {
	background-color: #444444;	
}

// ===== Backgorund Colour =====
.background-color__1 .circle {
	background-color: #FFFFFF;
	color: #434343;
	border: solid 0.7px #979797;
}

.background-color__2 .circle {
  background-color: #EDEDED;
	color: #434343;

}

.background-color__1, .background-color__2 {
  position: relative;

  .color-code {
    width: 50px;
    height: 30px;
    position: absolute;
    text-align: center;
    display: block;
    top: calc(50% - 15px);
    left: calc(50% - 25px);
    color: #ffffff;
    text-transform: uppercase;
	  font-size: 12px;
    opacity: 0;
  }

  .circle:hover .color-code{
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.3,0,0.3,1);
    pointer-events: none;
  }
}


// .color .color-code {
// 	width: 50px;
// 	height: 30px;
// 	// line-height: 30px;
// 	position: absolute;
// 	text-align: center;
// 	display: block;
// 	top: calc(50% - 15px);
// 	left: calc(50% - 25px);
// 	color: white;
// 	text-transform: uppercase;
// 	text-align: center;
// }

.color:hover .color-code{
}





