#section-layout.layout.main

  include navigation-top
          
  .content

    // ===== Sections =====
    .layout-content
      article.section-article.layout-article
              
        // =====Sections--iconography-example =====
        section.animated.delay.row
          h1.section-inner__title Layout.

        section.button-content.row
          .grid-25.grid-sm-100.button-description
            h3 Grid System
            p Our grid system is composed of a twelve-column grid with a 20px gutter between columns and a 10px gutter on the grid edges.
          
          .grid-75.layout-container
             ada

        section.button-content.row
          .grid-25.grid-sm-100.button-description
            h3 Mixing Grid Leyout
            p The grid is easily extended by combining various column sizes for the mosaic tile layouts which are used throughout the website.
          
          .grid-75
            layout-container ada

        section.button-content.row
          .grid-25.grid-sm-100.button-description
            h3 Nesting Grid Layouts
            p The grid layout is further customized by nesting different columns.
          
          .grid-75
            layout-container ada

      .section-next
