#section-colour.colour.main
         
  .content
    //- include components/color-circle
    // ===== Sections =====
    .colour-content
      article.section-article.colour-article.animated.delay
              
        // =====Sections--iconography-example =====
        section.row.animated.delay
          h1.section-inner__title Color.

        section.row
          .grid-30.grid-smd-100.grid-sm-100.colour-description
            h2 Primary
          .grid-70.grid-smd-100.grid-sm-100.colour-container

            .colour-grid

              .circle-container.primary-color__1
                .circle #0060A8


              .circle-container.primary-color__2
                .circle #FFFFFF

              .circle-container.primary-color__3
                .circle #F69D38

              .circle-container.primary-color__4
                .circle #197B30

        section.row
          .grid-30.grid-smd-100.grid-sm-100.colour-description
            h2 Secondary
          .grid-70.grid-smd-100.grid-sm-100.colour-container

             .colour-grid

              .circle-container.secondary-color__1
                .circle #007BDA

              .circle-container.secondary-color__2
                .circle #E0393E

              .circle-container.secondary-color__3
                .circle #444444

        section.row
          .grid-30.grid-smd-100.grid-sm-100.colour-description
            h2 Background
          .grid-70.grid-smd-100.grid-sm-100.colour-container

            .colour-grid

              .circle-container.background-color__1
                .circle #FFFFFF

              .circle-container.background-color__2
                .circle #EDEDED

      .section-next
