#section-iconography.iconography.main
      
  .content

    // ===== Sections =====
    .iconography-content
      article.section-article.iconography-article.animated.delay
              
        // =====Sections--iconography-example =====
        .animated.delay
          .section-inner
            h1.section-inner__title Iconography.

        section.iconography-content
          .grid-25.grid-sm-100.icon-description
            h3 Photosite Icons
            p Though currently limited to few a instances, please keep all future icons in line with the streamline icon style.
          .grid-75.grid-sm-100.icon-container
            .row.icon-row
              span.icon-set
                img(src='img/costco/icons/cart.png', alt='').icon-cart
                .caption Cart Icon
              span.icon-set
                img(src='img/costco/icons/i.svg', alt='').icon-i
                .caption Info Icon #999999
              span.icon-set
                img(src='img/costco/icons/cart-item-count.png', alt='').icon-cart-item-count
                .caption Cart Item Count

            .row
              img(src='img/costco/icons/lightbulb-2.svg', alt='')
              img(src='img/costco/icons/lightbulb-1.svg', alt='').icon-lightbulb-1
              img(src='img/costco/icons/mobile-2.svg', alt='')
              img(src='img/costco/icons/conversation.svg', alt='')
              img(src='img/costco/icons/mail.svg', alt='').icon-mail
