#section-logo.logo.main

  .content

    // ===== Sections =====
    .logo-content
      article.section-article.logo-article

        .section__title.animated.delay
            h1.section-inner__title.show-text Logo.
              
        //- Logo - Variations
        section.row
          .grid-30.grid-smd-100.logo__desc
            .logo__desc__container
              .title-index-sm 1
              p Horizontal Logotype On White
            .logo__desc__container
              .title-index-sm 2
              p Horizontal Logotype On Blue

          .grid-70.grid-smd-100
            .logo__img-container
              span.title-index 1
              img(src="img/costco/logo/costco-logo.png", alt="")
              
            .logo__img-container
              span.title-index 2
              .logo__blue-bg
                img(src="img/costco/logo/costco-logo-bg-blue.png", alt="")
                span

        hr

        //- Logo - Greetings
        section.row#logo_greetings
          .grid-30.grid-smd-100.logo__desc
            .logo__desc__container
              p Greetings by Costco logos are used on the photosite as well as the Greetings by Costco Micro site. There are two variations which depend on the imagery that the logos are impletmented with.

            .logo__desc__container
              .title-index-sm 1
              p Text logo
            .logo__desc__container
              .title-index-sm 2
              p Text logo with outlining glyph

          .grid-70.grid-smd-100.logo__greetings
            .logo__img-container
              span.title-index 1
              img(src="img/costco/logo/costco-logo-greeting1.png", alt="")
            .logo__img-container
              span.title-index 2
              .logo__blue-bg
                img(src="img/costco/logo/costco-logo-greeting2.png", alt="")

        hr

        //- Logo - Padding
        section.row#logo_padding
          .grid-30.grid-smd-100.logo__desc
            .logo__desc__container
              h3 Clear Zone
              p A minimum margin of space that is equivalent to the height of the three blue bars is required around the logo.

          .grid-70.grid-smd-100
            .logo__img-container.logo__img-container-padding
              img(src="img/costco/logo/costco-logo-padding.png", alt="")
