#section-buttons.buttons.main
      
  .content

    // ===== Sections =====
    .section.sec-buttons
      article.section-article.buttons-article
              


        // =====Sections--btn-example =====
        section.animated.delay
          .section-inner
            h1.section-inner__title.show-text Controls.
        section.button-content.nav-bar
          .grid-25.grid-sm-100.button-description
            h3 Navigation Bar
            p This illustrates the main navigation menu’s appearance when the user hovers over a menu item.
          .grid-70.grid-sm-100.button-container
            .nav-container
              nav
                ul
                  li 
                    img.logo(src='img/costco/costco-logo.png', alt='')
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li Wall Decor
                  li Photo Gifts
                  li
                    button Upload Photos
                  li
                    div.cart
              p Navigation Bar
            .nav-container
              nav
                ul
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li.menu-active Greeting Cards
                  li Wall Decor
                  li Photo Gifts
              p Active Hover State
            .nav-container
              nav
                ul
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li.menu-active Wall Decor
                    ul.sub-menu
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                  li Photo Gifts
              p Small Dropdown
            .nav-container
              nav
                ul
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li Wall Decor
                  li.menu-active Photo Gifts
                    ul.sub-menu.large-dropdown
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery

                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery

                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
              p Large Dropdown
        hr
        section.button-content.nav-bar
          .grid-25.grid-sm-100.button-description
            h3 Navigation Bar Refresh
            p A new main navigation menu design based on the one used on Costco.com.
          .grid-70.grid-sm-100.button-container
            .nav-container.refresh
              nav
                .top-menu
                  p
                    span My Warehouse:
                    |  Camel Mountain, CA |
                    span  Change
                  ul
                    li Help &nbsp;&nbsp;|
                    li Contact Us &nbsp;&nbsp;|
                    li Back to Costco.com &nbsp;&nbsp;|
                    li Help
                img.logo(src='img/costco/costco-logo.png', alt='')
                ul.sign-in
                  li Sign in / Register
                  li
                    div.cart
                ul.refresh-menu
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li Wall Decor
                  li Photo Gifts
                  li
                    button Upload Photos
        hr
        // =====Sections--States =====

        section.button-content.button-stat(data-aos='fade-up' data-aos-anchor="#button-anchor-3" data-aos-anchor-placement="top-bottom"  data-aos-offset="-400")
          .grid-25.grid-sm-100.button-description
            //- h3 Speciﬁcations
            p The primary blue call to action is used to indicate continuation to a subsequent page.

          .grid-70.grid-sm-100.button-container
            .button-grid-layout
              .button--container
                //- Button component here
                include components/button_comp
                  block button-title
                    h1.button--title Primary 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Size: 15px
                      .button__desc Font Weight: 300
                
                  block button-annotation
                    .button__annotation-left-text.button--animated-left 50px
                    .button__annotation-left-line.button--animated-scaleY
                    .button__annotation-right-text.button--animated-right 3px Radius Corners
                    .button__annotation-right-line.button--animated-scaleY
                    .button__annotation-right-circle.button--animated-scale

          //- Focused Button 
          .grid-25.grid-sm-100.button-description
            p The size of call to action will vary based on the length of the label.

          .grid-70.grid-sm-100.button-container.focus-button-container

            .button-grid-layout
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Primary 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Shadow: #3E94CF

              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Secondary

              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Disabled

          //- Disable Button 
          .grid-25.grid-sm-100.button-description
            p The green “place order” call to action is mainly used to indicate the final step from the shopping cart.

          .grid-70.grid-sm-100.button-container.disable-button-container

            .button-grid-layout
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Place Your Order
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #BBBBBB



      .section-next
