#section-imagery.imagery.main

  .content

    // ===== Sections =====
    .imagery-content
      article.section-article.imagery-article.animated.delay
              
        // =====Sections--imagery-example =====
        .animated.delay
          .section-inner
            h1.section-inner__title Imagery.

        section
          .grid-25.grid-smd-100
            h3 Banner Details
            p Home page marketing banners are displayed at full width.
            h4.imagery-title-sm Image Specifications
            p.imagery-desc-sm Full size banner: 2000px x 630px 
                              br 
                              | Text area: 910px 
                              br 
                              | Overhang Detail: 60px height

          .grid-75.grid-smd-100
            .row
              img(src='img/costco/imagery/imagery-banner-grid.png', alt='')

        hr

        section#imagery-typograhpy
          .grid-25.grid-smd-100
            h3 Typography

            h4.imagery-title-sm Font Styles
            p.imagery-desc-sm Product Name: min 50px Gotham Bold  
                              br
                              | Secondary Text: min 30px Gotham Regular  
                              br
                              | Pricing Text: min 30px Gotham Bold
                              br
                              | Specialty Font: min 75px Grafolita

          .grid-75.grid-smd-100
            .row
              img(src='img/costco/imagery/imagery-typography.png', alt='')

        hr

        section#imagery-banner
          .grid-25.grid-smd-100
            h3 Banner Details
            p Text placement can vary in alignment. call outs and badges can be added but must be within the 910px guideline. 
            p Images must contain a fade out to white along the left and right edges.


          .grid-75.grid-smd-100
            .row
              img(src='img/costco/imagery/imagery-banner-1.png', alt='')
            .row
              img(src='img/costco/imagery/imagery-banner-2.png', alt='')

        hr

        section#imagery-call-out
          .grid-25.grid-smd-100
            h3 Call Outs
            p These are often used to highlight pricing and current promotions. Colors are chosen based on the season and the design of the asset that it is applied to.


          .grid-75.grid-smd-100
            .row
              .badge
                .badge-circle
                  span 4 FREE calendar cards included!
                .badge-circle
                  span 4 FREE calendar cards included!
                .badge-circle
                  span 4 FREE calendar cards included!


          .grid-25.grid-smd-100
            h3 Flags
            p Are often used to provide additional details of a product or as a styled call to action.


          .grid-75.grid-smd-100
            .row
              img(src='img/costco/imagery/imagery-flag.png', alt='').imagery-flag-img