// ===== Section =====
#section-buttons {

	// ===== Section Starts=====
	.content {
		width: 100%;
		height: 100%;
	}

	// ===== Section - Button - Article =====
	.section-article {

		section {

			margin-bottom: 80px;

			.section-inner {
				max-width: 1020px;
				margin: 0 auto;

				.section-inner__title {
					text-align: left;
				}

				.section-inner__desc {
					text-align: center;
					width: 60%;
					margin: auto;
				}
			}
		}
	}

}


//button-specific styles

.button-content {
	max-width: 1020px;
	margin: 0 auto;
	// overflow: auto;
	overflow: hidden;
	position: relative;

	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: 5%;
    	margin-top: 2%;
	}
}
.button-description {
	h6 {
		text-transform: uppercase;
		margin: 0;
		font-size: 12px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 12px;
		margin-bottom: 15%;
	}
}

@media (max-width: #{$small-desktop}) {
	.button-article {
		padding: 0 5%;
		.button-container {
			margin-left: 0;
		}
	}
}

// ===== Button Grid Layout =====
.button-grid-layout {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: 5%;
	.button--container {
    	width: calc(100% / 3);
	}
}

// =====  Button States =====
.button-stat {
	padding-top: 20px;
	.button-grid-layout {
		.button--container:nth-child(2) {
			.button {
				background-color: transparent;
				border: 1px solid $dark-blue;
				h1 {
					color: $dark-blue;
				}
			}
		}

		.button--container:nth-child(3) {
			.button {
				background-color: $dark-blue;
				opacity: .5;
			}
		}

		.button--container:nth-child(4) {
			.button {
				background-color: $green;
			}
		}
		
	}
	.disable-button-container .button-grid-layout .button--container {
		.button {
			background-color: $green;
		}
	}
}

@media (max-width: #{$small-desktop}) {
	.buttons-article {
		padding: 0 5%;
		.button-container {
			margin-left: 0;
		}
	}
}

// Costco
.nav-bar nav {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 8px;
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		background:#f2f2f2;
	}
	ul {
		margin: 0;
		padding-left: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		li {
			float: left;
			list-style-type: none;
			color: #007bda;
			font-weight: bold;
			margin: 0 5px;
			font-size: 8px;
			cursor: pointer;
			button {
				background-color: #007bda;
				color: #FFF;
				border: none;
				padding: 5px;
				font-size: 8px;
				margin-right: 15px;
				padding-left: 15px;
				cursor: pointer;
			}
			&.menu-active {
				background-color: $dark-blue;
				color: #FFF;
				padding: 2px 5px;
				position: relative;
				cursor: auto;
			}
			.sub-menu {
				flex-direction: column;
				align-items: flex-start;
				background-color: $gray;
				position: absolute;
				left: -1px;
				top: 17px;
				min-width: 110px;
				padding: 3px 10px;
				box-shadow: 0 0 5px rgba(0,0,0,.2);
				&.large-dropdown {
					width: 350px;
					column-count: 3;
					left: -150px;
					display: block;
				}
				li {
					padding: 1px 0;
					font-weight: lighter;
				}
			}
			.cart {
				width: 40px;
				height: 40px;
				border-radius: 50px;
				background-color: #f69d38;
				background-image: url('../img/costco/cart.png');
				background-size: 42%;
				background-repeat: no-repeat;
				background-position: 12px 12px;
				&:after {
					content: '0';
    				padding: 5px 8px;
					border-radius: 50%;
					background: #FFF;
					border: 2px solid #007bda;
					position: relative;
					top: -2px;
					right: 9px;
				}
			}
			.logo {
				max-height: 40px;
				position: relative;
				top: -5px;
			}
		}
	}
}

.nav-container {
	margin-bottom: 10px;
	min-height: 100px;
	p {
		font-size: 12px;
	}
}
.refresh {
	background-color: $gray;
	width: 100%;
	min-height: auto;
	nav {
		padding-bottom: 0;
	}
	.logo {
		width: 17%;
		margin-left: 10px;
	}
	.sign-in {
		float: right;
		position: relative;
		top: 5px;
		right: 10px;
		li {
			color: $dark-blue;
		}
	}
	.refresh-menu {
		background-color: $dark-blue;
		padding: 2px 10px;
		li {
			color: #fff;
			&:last-child {
				flex-grow: 2;
				button {
					float: right;
					margin: 0;
					background-color: $dark-blue;
				}
			}
		}
	}
	.top-menu {
		border-bottom: 1px solid #cbcbcb;
		padding: 0 10px;
		p {
			font-size: 10px;
			display: inline;
			span:first-child {
				font-weight: bold;
			}
			span:last-child {
				font-weight: bold;
				cursor: pointer;
				color: $dark-blue;
			}
		}
		ul {
			display: block;
			float: right;
			margin-top: 6px;
			li {
				margin: 0 3px;
				color: $dark-blue;
			}
		}
	}
}

.marketing-buttons {
	.button .button--title {
		font-weight: lighter;
	}
	.button__annotation-top-text {
		left: 70%;
	}
	.button__annotation-top-line {
		left: 73%;
		width: 10px;
	}
	.button__annotation-bottom-text-left {
		display: inline;
		position: absolute;
		left: 0px;
		bottom: -30px;
		color: $button__annotation-color;
		&:after {
			content: '';
			width: 30px;
			height: 5px;
			display: block;
			border-right: 1px solid $button__annotation-color;
			border-left: 1px solid $button__annotation-color;
		}
		&:before {
			content: '';
			width: 30px;
			height: 1px;
			display: block;
			background-color: $button__annotation-color;
			position: absolute;
    		top: 20px;
		}
	}

	.button__annotation-bottom-text-right {
		display: inline;
		position: absolute;
		right: 0px;
		bottom: -30px;
		color: $button__annotation-color;
		&:after {
			content: '';
			width: 30px;
			height: 5px;
			display: block;
			border-right: 1px solid $button__annotation-color;
			border-left: 1px solid $button__annotation-color;
		}
		&:before {
			content: '';
			width: 30px;
			height: 1px;
			display: block;
			background-color: $button__annotation-color;
			position: absolute;
    		top: 20px;
		}
	}
}

.input {
	h4 {
		margin: 0;
	}
}

.upload-buttons {
	&.button-container {
		margin-left: 10px;
	}
	.button {
		width: 125px;
		height: 20px;
		background-color: $light-blue;
		.button--title {
			font-size: 10px;
			line-height: 2;
		}
	}
	.button__annotation-bottom-text-left {
		&:after {
			width: 10px;
		}
		&:before {
			width: 10px;
		}
	}
	.button__annotation-bottom-text-right {
		&:after {
			width: 10px;
		}
		&:before {
			width: 10px;
		}
	}
	.button__annotation-left-line {
		height: 20px;
	}
}