// ===== Section =====
#section-colour {

	.content {
		margin: 0;
		padding: 0 4%;
	}

	// ===== Section - colour - Article =====
	.section-article {

		section {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

			h1 {
				font-weight: bold;
				color: #f69d38;
			}


			h2 {
				font-size: 50px;
				color: #dddddd;
				font-weight: bold;
			}

			h3 {
				margin-top: 0;
			}
		}
	}

	.section-inner__title {
		text-align: left;
	}
}

//colour-specific styles

.colour-content {
	max-width: 1020px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.colour-container {

	.colour-grid {
		width: 100%;
	}
}

.circle-container {
  display: inline-block;
  width: 25%;
}


// Media Query
@media (max-width: #{$small-desktop}) {
	.colour-article {
		padding: 0 5%;

		.colour-container {
			margin-left: 0;
		}
	}

	#section-colour {

		.section-article {
			
			section:last-child {
				margin-bottom: 5%;
			}
		}
	}
}


@media (max-width: #{$tablet-portrait}) {
	.circle {
    transform: scale(0.8);
    transform-origin: left top;
	}

	#section-colour {
		h2 {
			font-size: 36px;
			color: #dddddd;
			font-weight: bold;
		}
	}
}

@media (max-width: #{$phone-large}) {
	.circle {
    transform: scale(0.7);
	}

	.color-container {
		.colour-grid {
			display: flex;
			flex-wrap: wrap;
		}
	}
	
	.circle-container {
    width: 33%;
	}
}




// @media (max-width: #{$phone-large}) {


// }


