// ===== Section =====
#section-typography {
	background-color: #fff;
	// ===== Section - Logo - Article =====
	.lettera {
		color: #ededed;
		font-size: 750px;
		font-weight: bold;
		position: absolute;
		line-height: 1;
		margin: 50px 0 0 -100px;
		padding: 0;
	}

	.fontname {
		color: #444444;
		font-size: 70px;
		font-weight: bold;
		position: absolute;
		line-height: 1;
		margin: 23% 0 0 60px;
		margin-bottom: 0px;
		padding: 0;
		width: 300px;

		h1.helvetica {	
			font-size: 36px;
			font-style: normal;
			font-weight:300; 
			margin-top: 7px;
			text-align: left;
		}
	}
}

.section-article {

	section {
		margin-bottom: 30px;
		
		.section-inner {
			max-width: 1020px;
			margin: 0 auto;
			
			.section-inner__title {
				color: #333;
				text-align: left;
				font-weight: bold;
			}
			
			.section-inner__desc {
				text-align: center;
				width: 60%;
				margin: auto;
			}
		}
	}
}

.typography-content {
	display: flex;
	flex-wrap: wrap;
	max-width: 1020px;
	margin: 0 auto;
	.fontname{
		display: none;
	}			
}

.tgrap {
	display: flex;
	overflow: hidden;
	margin: 10px;
	.typo-description {
		
		h1 {
			align-items: center;
			color: #dedede;
			display: flex;
			font-size: 36px;
			font-weight: bold;
			justify-content: flex-end;
			letter-spacing: -1px;
			margin: auto;
			text-align: right;
		}
	}
}

.typo_desc_container{
	font-size: 12px;		
}

.headings {
	margin: 10% auto 0;
	display: flex;

	.second {
		margin: auto;
		text-align: center;

		h3 {
			color: #00abd6;
			margin: auto;
			text-align: center;	
		}
		h4{
			text-align: center;
			color: #00abd6;
		}
		.hbody{
			width: 392.5px;
			height: 72px;
			font-size: 22px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.09;
			text-align: center;
			color: #444444;
			margin: auto;
		}
	}
	.thirt{
		margin: 10% 0 5%;
		text-align: center;

		h1 {
			text-align: center;
		}

		h4 {
			color: #00abd6;
			margin: 0 20%;
			text-align: center;
		}
	}
}

.headingstop {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10% auto 0;
	.first{
		margin: auto;
		text-align: center;
		h1{
			margin: 0;
			text-align: center;
		}
		h3 {
			color: #00abd6;
			margin: auto;
			text-align: center;
		}

		.hbody {
			width: 392.5px;
			height: 72px;
			font-size: 22px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.09;
			text-align: center;
			color: #444444;
			margin: auto;
		}
	}
}

.typo-container {
	align-self: center;
	margin-left: 7%;

	h1, h2, h3, h4, .hbody, .hgray {
		text-align: left;
	}

	h1 {
		color: #333333;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0.25px;
		line-height: auto;
		margin: 0;
	}

	h2 {
		color: #0060a8;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 0.25px;
		line-height: auto;
		margin: 0;
	}

	h3 {
		color: #333333;
		font-size: 26px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: auto;
		margin: 0;
	}

	h4 {	
		color: #333333;
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: auto;
		margin: 0;
	}

	.hdescription {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1.5px;
		line-height: auto;
	}

	.hproduct {
		color: #0060a8;
		font-size: 16px;
		font-weight: bold;
	    letter-spacing: 0;
		line-height: auto;
	} 

	.htitle {
		font-size: 12px;
		line-height: auto;
	}

	.hmenu {
		color: #0060a8;
		font-size: 10px;
		font-weight: 300;
		line-height: auto;
	}
}
.tmosaic{
	color: #333;
	font-size: 18px;
	font-weight: bold;
	margin: 70px 0 10px;
}
.textmosaic{
	font-size: 18px;
	line-height: 1.11;
}
.timage{
	text-align: left;
    margin: 0 0 50px 20%;

    h3{
    	color: #333;
    	font-size: 26px;
    	font-weight: bold;
    	text-align: center;

    }
    .hdescription{
    	text-align: center;
    	padding: 0 10%;
    }
}

@media (max-width: #{$med-sm-desktop}) {
	#firts-sectionA .fontname {
		opacity: 0;
	}

	#firts-sectionA article .fontname {
	color: #444;
    opacity: 1;
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 320px;
    h1{
    	margin: 0 0 0 10px;
    	width: 100%;
    }
	}
	.row{
		padding: 0 30px;
	}
}

@media (max-width: #{$small-desktop}) {
	#section-typography.typography.main .content .section-article .typography-content .tgrap{
		display: block;

		.typo-description {
			
			h1 {
				justify-content: flex-start;
				margin-top: 40px;
				padding: 0 30px;
				text-align: left;
			}
		}
		
		.typo-container {
			padding: 0 30px;
			margin: 0;
		}
	}

	.section.sec-blue .back {
		padding: 5% 5%;	
	}
	
	#section-typography .lettera{
		margin: auto;
		text-align: center;
	}
	#section-typography .section-article section .section-inner .section-inner__title {
		text-align: center;
		padding: 0 0 0 30px;
	}
	.row{
		padding: 0 30px;
	
		.timage{
			text-align: center;
			margin: 20px auto;
			img{
				width: 100%;	
			}
		}
	}
	#section-typography .fontname{
		display:none;
	}
}
@media (max-width: #{$fablet}) {
	#firts-sectionA article .fontname{
		flex-wrap: wrap;
	}
	#section-typography .lettera{
		font-size: 380px;
		width: 100%;
	}
	.letters{
	    text-align: center;
	    margin: auto;
	    width: 100%;
	}
	.section-article section .section-inner .section-inner__title{
		padding: 0;
	}
}